<center><h1 style="color: blue;"><a href = "{% url 'home' %}" style = "text-decoration: none;">Your ChatRoom</a></h1></center>

<link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
 
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />


<div class = "searchbar">
    <form method = "GET" action = "{% url 'home' %}">
        <input type = "text" name = "f" placeholder = "search groups.....">
    </form>
</div>

<style>
    .bar {
        padding-left: 10px;
    }
    .searchbar {
        padding-left: 10px;
    }
    .pf {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 30px;
        padding-top: 50px;
    }
</style>

<div class = "bar">
    {% if request.user.is_authenticated %}
    <h2>Hello, {{request.user}}</h2>
    {%endif %}
    {% if request.user.is_authenticated %} 
    <button class = "btn btn-primary"><a href = "{% url 'userLogout' %}" style = "color: yellow;">Logout</a></button>
    {% else %}
    <button class = "btn btn-primary"><a href = "{% url 'userLogin' %}" style="color: yellow;">Login</a></button>
    {% endif %}
</div>

<a href = "{% url 'user_profile' request.user.id %}">
    <div class = "pf">
        <h4>My Profile</h4>
        <div>
            <i class="bi bi-file-person h2"></i>
        </div>
    </div>
</a>